@import 'nyx/colors';
@import 'nyx/cleanup';
@import 'nyx/images';
@import 'nyx/elements';
// OTHER ELEMENTS
// OTHER STYLES BELOW

#main{
    padding: 2rem;
}

.my-image{
    width: 15em;
    height: 15em;
}