@import 'nyx/colors';
@import 'nyx/cleanup';
@import 'nyx/images';
@import 'nyx/elements';
@import 'nyx/navmenu';
// OTHER ELEMENTS
// OTHER STYLES BELOW

.section-title{
    padding-top: 2rem;
}

p {
    max-width: 40rem;
}

#main{
    padding: 2rem;
    padding-top: unset;

    @media screen and (min-width: 90rem) {
        margin-left: 20rem;
        max-width: 40rem;
    }
}

.my-image{
    width: 15em;
    height: 15em;
}




#header{
    background: teal;
    color: white;
    display: flex;
    align-items: center;
    padding-left: 2rem;
    padding-right: 2rem;

    h1{
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
    }

    @media screen and (min-width: 90rem) {
        #title{
            margin-left: 20rem;
        }
        #navmenu{
            margin-right: 20rem;
        }
    }    

    .hamburger{
        margin-left: auto;
    }

    #navmenu{
        margin-left: auto;
    }
    
}
